<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fms2.fms2.inboundDetails.mapper.InboundDetailsMapper">
    <select id="getInboundDetails"
            parameterType="com.fms2.fms2.inboundDetails.page.InboundDetailsPage"
            resultType="com.fms2.fms2.inboundDetails.domain.InboundDetails">
        select * from inbound_details
        <where>
            <if test='supplier!=null &amp;&amp; !supplier.trim().equals("")'>
                and supplier = #{supplier}
            </if>

            <if test='inboundStartDate!=null &amp;&amp; !inboundStartDate.trim().equals("")'>
                and inboundDate >= #{inboundStartDate}
            </if>

            <if test='inboundEndDate!=null &amp;&amp; !inboundEndDate.trim().equals("")'>
                and inboundDate &lt;= #{inboundEndDate}
            </if>

            <if test='productID!=null &amp;&amp; !productID.trim().equals("")'>
                and productID = #{productID}
            </if>

            <if test='warehouse!=null &amp;&amp; !warehouse.trim().equals("")'>
                and warehouse = #{warehouse}
            </if>

        </where>
        order by ${sort} ${dir}
        limit #{begin},#{limit}
    </select>

    <select id="getRows"
            parameterType="com.fms2.fms2.inboundDetails.page.InboundDetailsPage"
            resultType="_int">
        select count(*) from inbound_details
        <where>
            <if test='supplier!=null &amp;&amp; !supplier.trim().equals("")'>
                and supplier = #{supplier}
            </if>

            <if test='inboundStartDate!=null &amp;&amp; !inboundStartDate.trim().equals("")'>
                and inboundDate >= #{inboundStartDate}
            </if>

            <if test='inboundEndDate!=null &amp;&amp; !inboundEndDate.trim().equals("")'>
                and inboundDate &lt;= #{inboundEndDate}
            </if>

            <if test='productID!=null &amp;&amp; !productID.trim().equals("")'>
                and productID = #{productID}
            </if>

            <if test='warehouse!=null &amp;&amp; !warehouse.trim().equals("")'>
                and warehouse = #{warehouse}
            </if>

        </where>
    </select>
    <insert id="addInboundDetails"
            parameterType="com.fms2.fms2.inboundDetails.domain.InboundDetails">
        insert into inbound_details(supplier,inboundDate,productID,unit,
        inboundQuantity,unitPrice,amountOfThisPurchase,purchaseFee,
        purchaseFeeType,actualPayment,warehouse,comment,deliveryNumber)
        values (#{supplier},#{inboundDate},#{productID},#{unit},#{inboundQuantity},
        #{unitPrice},#{amountOfThisPurchase},#{purchaseFee},#{purchaseFeeType},
        #{actualPayment},#{warehouse},#{comment},#{deliveryNumber})
    </insert>

    <update id="updateInboundDetails"
            parameterType="com.fms2.fms2.inboundDetails.domain.InboundDetails">
        update inbound_details
        <set>
            <if test='supplier!=null &amp;&amp; !supplier.trim().equals("")'>
                supplier = #{supplier},
            </if>

            <if test='inboundDate!=null'>
                inboundDate = #{inboundDate},
            </if>

            <if test='productID!=null &amp;&amp; !productID.trim().equals("")'>
                productID = #{productID},
            </if>

            <if test='unit!=null &amp;&amp; !unit.trim().equals("")'>
                unit = #{unit},
            </if>

            <if test='inboundQuantity!=null'>
                inboundQuantity = #{inboundQuantity},
            </if>

            <if test='unitPrice!=null'>
                unitPrice = #{unitPrice},
            </if>

            <if test='amountOfThisPurchase!=null'>
                amountOfThisPurchase = #{amountOfThisPurchase},
            </if>

            <if test='purchaseFee!=null'>
                purchaseFee = #{purchaseFee},
            </if>

            <if test='purchaseFeeType!=null &amp;&amp; !purchaseFeeType.trim().equals("")'>
                purchaseFeeType = #{purchaseFeeType},
            </if>

            <if test='actualPayment!=null'>
                actualPayment = #{actualPayment},
            </if>

            <if test='warehouse!=null &amp;&amp; !warehouse.trim().equals("")'>
                warehouse = #{warehouse},
            </if>

            <if test='comment!=null &amp;&amp; !comment.trim().equals("")'>
                comment = #{comment},
            </if>
        </set>
        where inboundId = #{inboundId};
    </update>

    <delete id="deleteInboundDetails"
            parameterType="com.fms2.fms2.inboundDetails.domain.InboundDetails">
        delete from inbound_details where inboundId = #{inboundId};
    </delete>

    <select id="getAllInboundDetails"
            parameterType="com.fms2.fms2.inboundDetails.page.InboundDetailsPage"
            resultType="com.fms2.fms2.inboundDetails.domain.InboundDetails">
        select * from inbound_details
        <where>
            <if test="inboundIds != null &amp;&amp; !inboundIds.size()>0">
                and inboundId in
                <foreach collection="inboundIds" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test='inboundId != null'>
                and inboundId =#{inboundId}
            </if>
        </where>

    </select>
</mapper>